* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 4rem;
}
.testimonials h2 {
  font-size: 36px;
}
.border {
  height: 3px;
  width: 120px;
  background: #0099cc;
  margin: 15px 0 30px;
}
.testimonials .row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.testimonials .row .col {
  background-color: white;
  margin: 0 1rem;
  padding: 50px 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.testimonials .row .col img {
  max-width: 140px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 5px solid #fff;
}
.testimonials .row .col h3 {
  font-size: 20px;
}

.testimonials .row .col .stars {
  margin: 15px 0;
  color: #0099cc;
}
.testimonials .row .col p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}
@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  .testimonials .row .col {
    margin: 1rem 0;
  }
}
@media (max-width: 600px) {
  .testimonials {
    padding: 3rem;
  }
}
